@model MVC_LAB.Models.Person.EditPersonViewModel
@{
    ViewData["Title"] = "Edit Person";
}

<form method="post" asp-controller="Person" asp-action="CreateNewPerson">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" placeholder="ID" name="ID" readonly value="@Model.ID">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" name="Name" readonly value="@Model.Name">
  </div>
  <div class="form-group">
    <label for="name">City</label>
    <input type="text" class="form-control" id="city" placeholder="City" name="City" readonly value="@Model.City">
  </div>
    <div class="form-group">
    <label for="name">Gender</label>
    <select id="Gender" name="Gender" class="form-control" required asp-items="@Model.Gender"></select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
